:root { 
  --black: black;
  --white: white;
}

body{
  background-image: url("./images/orange-background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.profile-pic{
width: 12rem;
border-radius: 50%;
display: block;
margin-top: 30px;
margin-left: auto;
margin-right: auto;
}


/* Navigation Bar */

.nav-bar{
  position: fixed;
  top: 0px;
}

.nav-bar ul {
     list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
   }
   
   .nav-bar li a {
     font-size: 1.5rem;
     font-family: 'Libre Franklin';
     display: block;
     color: var(--white);
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
   }

   @media screen and (max-width:1024px) {
    .nav-bar{
      display: flex;
      width: 100%
 }
 
 .nav-bar ul{
      position: fixed;
      top: 0;
      width: 100%;
 }
 
 .nav-bar ul li {
      display: inline-block;
      list-style: none;
      margin: 1rem;
 }
 
 .nav-bar ul li a {
      text-decoration: none;
      color: var(--white);
      font-family: 'Libre Franklin';
      font-size: 1.25rem;
 }
}


/* Name and Subheading */

 .head{
text-align: center;
margin-top: 20%;
}

.head h1{
     font-size: 5rem;
     font-family: 'Libre Franklin';
     margin: 0px 
}

.head p{
     position: relative;
     font-size: 1.5rem;
margin: 0px 5px 0px 0px;
font-family: 'Libre Franklin';
}


/* My Work */

.showcase{
     display: block;
     text-align: center;
     height: 55%;
     padding-top: 24%;
     font-family: 'Libre Franklin';
}

.showcase h2{
     margin-bottom: 5px;
     font-size: 3rem;
}

.showcase p{
     margin-top: 5px;
     font-size: 1.5rem;
}


/* Grid to showcase of my work */

.container {
     height: 90vh;
     margin-top: 30px;
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-rows: 1fr 1fr 1fr;
   }
   .grid {
     color: var(--white);
     font-size: 5rem;
     text-align: center;
     padding: 4rem;
     margin: 10px;
     height:75%
   }

   .grid:hover{
     cursor: pointer;
     transform: scale(1.15);
     box-shadow: 20% var(--black);
     transition: all 0.5s ease-in-out;
     box-shadow: inset 0px 0px 8px #00bcf5, 0 0 15px #00bcf5;

   }
   
   .grid-1 {
    background: var(--black);
    background-image: url(./images/comingsoonblue.png);

   background-size: 40%;
   background-repeat: no-repeat;
   background-position-x: right;
   background-position-y: bottom;
   }
   .grid-2 {
    background: var(--black);
    background-image: url(./images/01-html-css-git-homework-demo.png);
   background-size: cover;
   background-position-y: 0;
   } 

   .grid-3 {
    background: var(--black);
    background-image: url(./images/comingsoonblue.png);

   background-size: 40%;
   background-repeat: no-repeat;
   background-position-x: right;
   background-position-y: bottom;
   }
   

   /* About section */

   .about-me{
     font-family: 'Libre Franklin';
     margin: 8rem;
     margin-top: 0%;
     line-height: 2rem;
   }

   .about-me h2{
     font-size: 3rem;
     text-align: center;
     padding: 2rem;
     margin-bottom: 11vh;
   }

   .about-me h3{
    margin-bottom: 5px;
    font-size: 1.5rem;
   }

   .about-me p{
     margin-top: 5px;
     font-size: 1rem;
   }

    .first-text{
     margin-left: 15%;
     margin-bottom: 12vh;
     text-align: start;
     padding-right: 25%;
    }

    .second-text{
      margin-left: 55%;
      margin-bottom: 12vh;
    }

    .final-text{
      display: block;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }


    /* Contact form */

    .contact-me{
      display: block;
      text-align: center;
     width: 25%;
     margin: auto;
     background-color: #fce16c;
     padding: 1.5rem;
     font-family: 'Libre Franklin';
    }

    .name-title{
      margin-right: 8.5rem;
    }

    .name{
      padding-right: 2rem;
      margin-bottom: 10px;
      text-align: start;
      width: 55%;
      box-sizing: border-box;
    }

    .email{
      padding-right: 2.5rem;
      margin-bottom: 10px;
      width: 55%;
      box-sizing: border-box;
    }

    .message-title{
      margin-top: 10rem;
      margin-right: 7.5rem;
    }

    .message{
      width:55%;
      box-sizing: border-box;
    }

    .contact-me button{
      margin-top: 10px;
    }

    /* Footer */

    .footer-text{
      display: block;
      font-size: 0.75rem;
    }

    .social-icons{
      margin-bottom: 1.5rem;
      padding-top: 5%;
      display: flex;
      justify-content: space-evenly;
    }